# Virtual environment files
env/
venv/
.env/
.env*/
.vscode/
.venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints


# API keys or sensitive data
*.env
*.key
*.secret
*.json